*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--darkIndigo);
}
::-webkit-scrollbar-track{
    background-color: var(--indigo);
}

@font-face {
    font-family: pageFont;
    src: url('./fonts/cour.ttf');
}

:root{
    --black: #000;
    --white: #fff;
    --textHoverWhite: #ddd;
    --textHoverIndigo: #d2c5ff;
    --lightIndigo: #ae97ff;
    --indigo: #8462ff;
    --darkIndigo: #5c3fc7;
    --blue: #0004ff70;
    --darkBlue: #00029070;
}

body{
    background: linear-gradient(var(--lightIndigo), var(--indigo));
    font-family: pageFont;
    overflow-x: hidden;
}

/* Navigation */

#navigation{
    position: fixed;
    width: 100%;
}

#navigation #navbar, #sidenav{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkIndigo);
    color: var(--lightIndigo);
    padding: 0 50px;
    font-size: larger;
    box-shadow: 0 0 5px 0 var(--blue);
}

#navigation .logo{
    width: 75px;
}

#navigation .logo img{
    width: 100%;
}

#navigation .tabList{
    list-style: none;
    display: flex;
    column-gap: 50px;
    align-self: center;
}

#navigation a{
    color: inherit;
    text-decoration: none;
    transition: 500ms ease;
}

#navigation a:hover{
    color: var(--textHoverIndigo);
    text-shadow: 0 0 2px var(--textHoverIndigo);
    text-decoration: underline;
}

#navigation #sidenav{
    display: none;
}

.admin-perms{
    display: none;
}

/* Main Section */

#main-section{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    color: var(--darkIndigo);
}

#main-section h1{
    text-align: center;
}

#main-section h3{
    margin: 20px 0;
    font-size: 40px;
    padding: 0 50px;
}

#main-section p{
    padding: 0 50px ;
    font-size: 30px;
}

/* Footer */

footer{
    padding: 20px 50px;
    background-color: var(--darkIndigo);
    color: var(--lightIndigo);
}

footer .topFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

footer .topFooter .socials i{
    margin: 0 10px;
    cursor: pointer;
}

footer .bottomFooter{
    display: flex;
    justify-self: center;
    gap: 50px;
}

footer .bottomFooter a{
    text-decoration: none;
    color: inherit;
}


@media (max-width: 1000px) {
    /* navigation */

    #navigation{
        position: relative;
    }

    #navigation #navbar{
        display: none;
    }

    #navigation #sidenav{
        position: relative;
        display: flex;
        padding: 0 20px;
    }

    #navigation #sidenav .tabList{
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        background-color: #00000060;
        display: none;
        flex-direction: column;
        column-gap: 0;
    }

    #navigation #sidenav li{
        margin: 10px 10px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    #navigation #sidenav li:hover{
        background-color: #00000020;
    }

    #sidenav .openList{
        transition: 250ms ease;
        place-self: center;
        padding: 3px 10px;
        cursor: pointer;
    }

    hr{
        width: 50%;
        border: 1px solid var(--lightIndigo);
        border-radius: 5px;
        align-self: center;
    }

    /* Main Section */

    #main-section{
        height: 80vh;
        font-size: 20px;
    }

    #main-section h1{
        margin: 0 20px;
    }

    #main-section h3{
        margin: 20px 0;
        font-size: 27px;
        padding: 0 20px;
    }

    #main-section p{
        padding: 0 20px ;
        font-size: inherit;
    }
}