* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Container */
#container {
    height: 100vh;
    background:url(./imgs/background.jpg) no-repeat center center;
    background-size: cover;
    color: #444;
    text-align: center;
}

#container h1 span {
    color: #8400ff;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

#navbar h1 {
    font-size: 30px;
}

#navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: #8400ff;
}

.nav-btn {
    justify-self: end;
}

.btn {
    padding: 10px 30px;
    background-color: #8400ff;
    color: #fff;
    border: 2px solid #8400ff;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #5800ab;
}

.sec-btn {
    background-color: transparent;
    color: #8400ff;
    margin-left: 20px;
}

.sec-btn:hover {
    background-color: #e100ff31;
}

/* Main Section */
#main-section {
    margin: 200px 100px;
    width: 750px;
    text-align: left;
}

#main-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 10px 0;
}

#main-section h3 {
    color: #000;
    font-size: 25px;
}

#main-section p {
    color: black;
    margin: 20px 0;
    line-height: 1.5;
}

/* Box Container */
#box-container {
    background: linear-gradient(45deg, violet, lightgreen);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 50px;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box img {
    height: 100px;
    margin-bottom: 15px;
}

.box a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.box a:hover {
    background-color: #333;
}
